<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>SchoolProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertContactServlet</display-name>
    <servlet-name>InsertContactServlet</servlet-name>
    <servlet-class>InsertContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertContactServlet</servlet-name>
    <url-pattern>/InsertContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsletterServlet</display-name>
    <servlet-name>NewsletterServlet</servlet-name>
    <servlet-class>NewsletterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsletterServlet</servlet-name>
    <url-pattern>/NewsletterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookaseatServlet</display-name>
    <servlet-name>BookaseatServlet</servlet-name>
    <servlet-class>BookaseatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookaseatServlet</servlet-name>
    <url-pattern>/BookaseatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginSuccessServlet</display-name>
    <servlet-name>AdminLoginSuccessServlet</servlet-name>
    <servlet-class>AdminLoginSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginSuccessServlet</servlet-name>
    <url-pattern>/AdminLoginSuccessServlet</url-pattern>
  </servlet-mapping>
</web-app>